
/* historia */

.historia-main {
    height: 100vh;
}

.historia-container p {
    color: darkslateblue;
    padding: 20px 50px;
    font-size: 1.5rem;
    font-weight: 400;
}

.historia-container {
    display: flex;
    align-items: center;

}
.historia-container p {
    font-size: 1.3rem;
    padding: 0px 20px;
}